name: Visual Studio Code Remote SSH Server
version: 1.1.0
slug: vscode-remote-ssh
description: Enables you to connect to Home Assistant via Visual Studio Code Remote
  SSH.
url: https://github.com/mietzen/hassio-addons/tree/main/vscode-remote-ssh
arch:
- aarch64
- amd64
startup: application
boot: auto
homeassistant_api: true
hassio_api: true
hassio_role: manager
stdin: true
map:
- config:rw
- all_addon_configs:rw
image: mietzen/hass-addon-vscode-remote-ssh
init: false
ports:
  22/tcp: 22000
options:
  ssh_keys: []
  persist_ssh_host_keys: false
schema:
  ssh_keys:
  - str
  persist_ssh_host_keys: bool?
  log_level: list(debug|info|warning|error)?
