name: Custom Dependabot 
# Update Docker Base Images, append changelogs and bump addon patch version
on: 
  schedule:
    - cron: "0 14 * * *"
  workflow_dispatch:

jobs:
  Dependabot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install perquisite
        run: |
          pip3 install dockerfile-parse
      - name: Scan for deprecated base images
        run: |
          python3 ./.github/resources/custom_dependabot
      - name: Commit changes
        id: commit
        run: |
          if ! [ -z "$(git status --porcelain)" ]; then 
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action Bot"
            git commit -a -m "Updated base images"
            echo "change=yes" >> $GITHUB_OUTPUT
          else
            echo "Nothing to commit!"
            echo "change=no" >> $GITHUB_OUTPUT
          fi
      - name: Create Pull Request
        if: steps.commit.outputs.change == 'yes'
        id: pr
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: Update report
          committer: GitHub Action Bot <action@github.com>
          author: GitHub Action Bot <action@github.com>
          token: ${{ secrets.PUSH_TOKEN }}
          branch: dependabot-update-base-images
          delete-branch: true
          title: '[Dependabot] Updated base images'
          assignees: mietzen
          labels: |
            automated pr
            dependabot
      - name: Automerge if possible
        if: steps.commit.outputs.change == 'yes' && steps.pr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.PUSH_TOKEN }}
          pull-request-number: ${{ steps.pr.outputs.pull-request-number }}
          merge-method: squash
